@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
#container{
    display: flex;
    flex-direction: row;
    position: relative;
}
#imagen7{
    width: 32vw;
    margin-left: 230px;
    z-index: -1;
    position: relative;
}
#jugador{
    margin-top: 5%;
    width: 26vw;
    z-index: 2;
    margin-left: 45%;
    position: absolute;
}
#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 15px;
    font-family: 'Lilita One', cursive;
    text-shadow: 2px 2px 5px #F7C02E;
}